* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
:root{
    --bg-color:#000000db;
    --bg-button-color:#1a1a1ac7;
    --primary-color:#ffffffd9;
    --bg-task-color:#2a2a2aa7;
    --bg-delete-color:#ff4d4d;

    --nav-padding:15px 30px;
    --section-padding:15px 30px;
    --padding-s:5px;
    --padding-m:10px;
    --padding-l:15px;
    --padding-xl:30px;

}
main{
    height:100vh;
    display: flex;
    flex-direction: column;
    
}
body{
    background-color:var(--bg-color);
    color:var(--primary-color);
}
nav {
    padding: var(--nav-padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: var(--bg-color);
}
nav button{
    padding: var(--padding-m) var(--padding-l);
    background-color:var(--bg-button-color);
    border:none;
    color:var(--primary-color);
    border-radius:5px;
    cursor:pointer;
}
section{
    padding: var(--section-padding);
    display: flex;
    flex-grow: 1; /*main ki jitni bhi left space hai vo lelega*/
    justify-content: space-between;
    
    gap: var(--padding-xl);
    transition: all 0.3s ease;
}
section .task-column{
    background-color: var(--bg-button-color);
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--padding-m);
    padding: var(--padding-m);
}
section .task-column.hover-over{
    border:2px dashed var(--primary-color);
    scale:1.02;
}
section .task-column .heading{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .task-column  .task{
    background-color: var(--bg-task-color);
    padding: var(--padding-m);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: var(--padding-s);
    cursor: grab;

}
section .task-column  .task button{
    align-self: flex-end;
    background-color: var(--bg-delete-color);
    padding: var(--padding-s) var(--padding-m);
    border:none;
    color:var(--primary-color);
    border-radius:5px;
    outline: none;
    
    cursor:pointer;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.599);
    display: none;
    align-items: center;
    justify-content: center;
}
.modal.active{
    display: flex;
}
.modal .bg{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color:rgba(61, 61, 61, 0.486); 
    backdrop-filter: blur(2px);
}
.modal .center{
    background-color: var(--bg-button-color);
    padding: var(--padding-xl);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: var(--padding-m);
    z-index: 10;
}
 .modal .center input, .modal .center select, .modal .center textarea{
    font-size: 1.2rem;
    background-color: var(--bg-task-color);
    border: none;
    outline: none;
    color: var(--primary-color);
    padding: var(--padding-m);
    border-radius: 5px;
}
.modal .center button{
    padding: var(--padding-m) var(--padding-l);
    background-color:var(--bg-task-color);
    border:none;
    color:var(--primary-color);
    border-radius:5px;
    cursor:pointer;
    
}